@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap");
/* ============================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* ================глобальные стили==================== */

:root {
    --app-height: 100%;
 }

body{
    color: #424242;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
}
/* ==================делаем обертку и прижимаем footer к низу======================== */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page{
    flex: 1 1 auto;
}
/* ===================делаем ограничивающий контейнер======================== */
[class*="__container"] {
    max-width: 1393px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
/* =============================делаем header================================= */
.header-top-backround{
    width: 100%;
    height: 101px;
    background-color: #E43071;
}
.header-top{
    height: 101px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
.header-top__logo{
    min-width: 11.6875rem;
    min-height: 2.75rem;
    margin-right: auto;
}
.header-top__logo img{
    width: 100%;
    height: 100%;
}
.menu{
    display: flex;
    align-items: center;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    row-gap: .625rem;
    justify-content: center;
}
.menu__item{
    margin-right: 76px;

}
.menu__link{
    color: #fff;
    line-height: 109.5%;
}
.header-top__search-btn{
    display: flex;
    align-items: center;
}
.header-top__search{
    margin-right: 6px;
    color: #fff;
    line-height: 109.5%
}
.header-top__search-icon{
    margin-right: 1.125rem;
}
.header-top_btn{
    border-radius: 200px;
    background-color: #fff;
    padding: 16px 61px;
    color: #E43071;
    line-height: 109.5%;
}
/* =============================делаем burger================================= */
.header-top__burger-menu{
    display: none;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}
.header-top__burger-menu span{
    position: absolute;
    width: 1.875rem;
    height: .1875rem;
    background-color: white;
    left: .3125rem;
    transition: transform .5s;
}
.header-top__burger-menu span:nth-child(1){
    transform: translateY(-0.625rem);
}
.header-top__burger-menu span:nth-child(2){
    
}
.header-top__burger-menu span:nth-child(3){
    transform: translateY(.625rem);
}
.header-top.open .header-top__burger-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header-top.open .header-top__burger-menu span:nth-child(2){
    opacity: 0;
}
.header-top.open .header-top__burger-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
/* ================================делаем header-content================================ */
.header__content{
    min-height: calc(100vh - 6.3125rem);
    width: 100%;
    background-image: url('../img/header-content/header-backround.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.header__content-block{
    height: calc(100vh - 6.3125rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header__title{
    max-width: 767px;
    text-align: center;
    font-family: Poppins;
    font-size: calc(2rem + 38 * ((100vw - 20rem) / (1393 - 320)));
    font-weight: 700;
    line-height: 110%;
    color: #fff;
}
.header__button{
    margin-top: 1.6875rem;
    padding: .875rem 3.5rem;
    background-color: #E43071;
    border-radius: 2.4063rem;
}















/* ================================================================================================ */




@media (max-width: 78.4375rem){
    .menu__item{
        margin-right: 3.125rem;
    }
}
@media (max-width: 69.0625rem){
    .menu__item{
        margin-right: 2.125rem;
    }
}
@media (max-width: 64rem){
    .menu{
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #E43071;
        flex-direction: column;
        visibility: hidden;
        overflow: auto;
    }
    .menu__list{
        padding-top: 3.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu__item{
        padding: 1.875rem;
    }
    .menu__link{
        padding: 1.875rem;
    }
    .header-top__search{
        display: none;
    }
    .header-top__search-icon{
          padding-top: .375rem;
    }
    .header-top__burger-menu{
        display: block;
    }
    .header-top_btn{
        display: none;
    }
    .header-top.open .menu{
        transform: translateX(-100%);
        visibility: visible;
    }
    .header-top.open .header-top_btn{
        display: block;
        position: absolute;
        top: 31.25rem;
        right: 0;
        width: 100%;
    }

}

