@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap");
/* ============================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* ================глобальные стили==================== */

:root {
    --app-height: 100%;
 }

body{
    color: #424242;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
}
/* ==================делаем обертку и прижимаем footer к низу======================== */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page{
    flex: 1 1 auto;
}
/* ===================делаем ограничивающий контейнер======================== */
[class*="__container"] {
    max-width: 1393px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
/* =============================делаем header================================= */
.header-top-backround{
    width: 100%;
    height: 101px;
    background-color: #E43071;
}
.header-top{
    height: 101px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
.header-top__logo{
    min-width: 11.6875rem;
    min-height: 2.75rem;
    margin-right: auto;
}
.header-top__logo img{
    width: 100%;
    height: 100%;
}
.menu{
    display: flex;
    align-items: center;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    row-gap: .625rem;
    justify-content: center;
}
.menu__item{
    margin-right: 76px;

}
.menu__link{
    color: #fff;
    line-height: 109.5%;
}
.header-top__search-btn{
    display: flex;
    align-items: center;
}
.header-top__search{
    margin-right: 6px;
    color: #fff;
    line-height: 109.5%
}
.header-top__search-icon{
    margin-right: 1.125rem;

}
.header-top_btn{
    border-radius: 200px;
    background-color: #fff;
    padding: 16px 61px;
    color: #E43071;
    line-height: 109.5%;
}
/* =============================делаем burger================================= */
.header-top__burger-menu{
    display: none;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    z-index: 5;
}
.header-top__burger-menu span{
    position: absolute;
    width: 1.875rem;
    height: .1875rem;
    background-color: white;
    left: .3125rem;
    transition: transform .5s;
    z-index: 5;
}
.header-top__burger-menu span:nth-child(1){
    transform: translateY(-0.625rem);
}

.header-top__burger-menu span:nth-child(3){
    transform: translateY(.625rem);
}
.header-top.open .header-top__burger-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header-top.open .header-top__burger-menu span:nth-child(2){
    opacity: 0;
}
.header-top.open .header-top__burger-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
/* ================================делаем header-content================================ */
.header__content{
    height: calc(100lvh - 101px);
    max-height: 691px;
    width: 100%;
    background-image: url('../img/header-content/header-backround.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.header__content-block{
    height: calc(100lvh - 6.3125rem);
    max-height: 691px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header__title{
    max-width: 767px;
    text-align: center;
    font-family: Poppins;
    font-size: calc(2rem + 38 * ((100vw - 20rem) / (1393 - 320)));
    font-weight: 700;
    line-height: 110%;
    color: #fff;
}
.header__button{
    margin-top: 1.6875rem;
    padding: .875rem 3.5rem;
    background-color: #E43071;
    border-radius: 2.4063rem;
}

/* ==================================section-body=============================================== */
.body__container{
    max-width: 1159px;
}
.body__block{
    margin-top: 8%;
    display: flex;
    gap: 20px;
    margin-bottom: 13.2%;
}
.body-left{
    width: 50%;
    display: flex;
}

.body-left__one{
    max-width: 100%;
    min-width: 176px;
    min-height: 248px;
}

.body-left__two{
    max-width: 100%;
    margin-top: 23%;
    margin-left: -22%;
    min-width: 146px;
    min-height: 218px;


}
.body-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-right__title{
    color: #E43071;
    font-weight: 700;
    font-size: 40px;

}
.body-right__subtitle{
    margin-top: 10px;
    max-width: 540px;
    line-height: 231.25%; /* 37/16 */

}
.body-right__btn{
    margin-top: 35px;
}
.body-right__btn button{
    padding: .9375rem 4.0625rem;
    border-radius: 2.4063rem;
    border: .125rem solid #E43071;

}
/* ==========================section-bacome=========================================== */
.block__become{
    margin-bottom: 12.5%;
}
.become__background{
    height: 700px;
    width: 100%;
    background-image: url(../img/section-become/Woman\ doing\ situps.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: top center;
}
.become__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.become__title{
    text-align: center;
    color: #FFF;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
    font-family: Poppins;
    font-size: calc(42px + 18 * ((100vw - 320px) / (1393 - 320)));
    font-weight: 700;
}
.become__subtitle{
    margin-top: 17px;
    margin-bottom: 10px;
    max-width: 457px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
}
.become__button button{
    padding: 15px 77px;
    border-radius: 38.5px;
    background-color: #E43071;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 231.25%; /* 37/16 */
}
/* ================================================================================================ */
.block__premium{
    margin-bottom: 10%;
}
.premium__container{
    display: flex;
    max-height: 435px;
    gap: .9375rem;
}
.premium__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.premium__left-content{
    max-width: 489px;
}
.premium__title{
    color: #E43071;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.premium__subtitle{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 231.25%; /* 37/16 */
}
.premium__button{
    margin-top: 18px;
}
.premium__button button{
    padding: 16px 72px;
    border-radius: 38.5px;
    border: 2px solid #E43071;
    color: #E43071;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 231.25%; /* 37/16 */
}
.premium__right{
    width: 50%;
    display: flex;
}
.premium__img-top{
    width: 100%;
    min-width: 202px;
    min-height: 135px;
    margin-right: -24%;
    position: relative;
    z-index: 2;
    height: auto;
}
.premium__img-bottom{
    min-width: 191px;
    min-height: 128px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 23%;
    margin-left: -21%;
    height: auto;
}

/* ===================================footer====================================== */
.footer__backgroung{
    width: 100%;
    height: auto;
    background-color: #0B0D17;
}
.footer__container{
    padding: 6.8% 8.7% 7.3% 9.2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    row-gap: 2.5rem;
    column-gap: 40px;
}
.goodlyfe__subtitle{
    margin: 24px 0 24px 0;
    max-width: 255px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.goodlyfe__icon{
    display: flex;
}
.icon__item:not(:last-child){
    margin-right: 16px;
}
.links__title{
    margin: 0 0 24px 0;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.links__item:not(:last-child){
    margin-bottom: 12px;
}
.links__link{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}
.guides__title{
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    margin-bottom: 24px;
}
.guides__item:not(:last-child){
    margin-bottom: 12px;
}
.guides__link{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}
.block__reach-us{
    display: flex;
    flex-direction: column;
    max-width: 255px;
}
.reach-us__title{
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    margin-bottom: 24px;
}
.reach-us__email{
    margin-bottom: 24px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}
.reach-us__nummer{
    margin-bottom: 24px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}



.reach-us__adress{
    max-width: 223px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}
.footer-end__container{
    display: flex;
    justify-content: space-between;
    padding-left: 9.2%;
    padding-right: 9.2%;
}
.footer-end__left{
    margin-bottom: 24px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    /* margin-right: 15px; */
}
.footer-end__right{
    /* margin-left: 15px; */
    margin-bottom: 24px;
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
}















/* ================================================================================================ */








































@media (max-width: 830px){
    .footer-end__container{
        max-width: 249px;
        padding: 0;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .footer-end__right{
        text-align: center;
    }
    .footer-end__left{
        margin-bottom: 25px;
    }
    .footer-end__right{
        margin-bottom: 16px;
    }
}
@media (min-width: 87.0625em){
    .header__title{
        font-size: 4.375rem;
    }
    .become__title{
        font-size: 60px;
    }
}

@media (max-width: 78.4375rem){
    .menu__item{
        margin-right: 3.125rem;
    }
}
@media (max-width: 69.0625rem){
    .menu__item{
        margin-right: 2.125rem;
    }
}
@media (max-width: 64rem){
    .menu{
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #E43071;
        flex-direction: column;
        visibility: hidden;
        overflow: auto;
        z-index: 2;
    }
    .menu__list{
        padding-top: 3.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu__item{
        padding: 1.875rem;
    }
    .menu__link{
        padding: 1.875rem;
    }
    .header-top__search{
        display: none;
    }
    .header-top__search-icon{
          padding-top: .375rem;
    }
    .header-top__burger-menu{
        display: block;
    }
    .header-top_btn{
        display: none;
    }
    .header-top.open .menu{
        transform: translateX(-100%);
        visibility: visible;
    }
    .header-top.open .header-top_btn{
        display: block;
        position: absolute;
        top: 31.25rem;
        right: 0;
        width: 100%;
        z-index: 6;
    }

}
@media (max-width: 47.5rem){
    .body__block{
        flex-direction: column;
        /* align-items: center; */
    }
    .body-left{
        width: 100%;
        justify-content: center;
    }
    .body-right{
        width: 100%;
    }
    .body-right__btn{
        display: inline;
    }
    .body-right__btn button{
        display: block;
        width: 100%;
    }
    .body-right__subtitle{
        line-height: 200%;
    }
    .become__subtitle{
        font-size: 16px;
    }
    .become__background{
        max-height: 443px;
    }
    .premium__container{
        flex-wrap: wrap-reverse;
        max-height: none;
    }
    .premium__left{
        width: 100%;
    }
    .premium__right{
        width: 100%;
    }
}
@media (max-width: 51.3125em){
    .premium__title{
        font-size: 36px;
    }
}
@media (max-width: 440px){
    .premium__button button{
        display: block;
        width: 100%;
    }
}